<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\console-example-internal.log"
      internalLogLevel="Info">

	<targets>
		<target xsi:type="File" name="logfile" fileName="${basedir}/logs/${shortdate}.log"
				layout="${longdate} | ${level} | ${message} | ${all-event-properties} ${exception:format=tostring}" />
		<target xsi:type="Console" name="logconsole"
				layout="${longdate} | ${level} | ${message} | ${all-event-properties} ${exception:format=tostring}" /> 
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile,logconsole" />
		<logger name="*" minlevel="Info" writeTo="logfile" />
		<logger name="*" minlevel="Error" writeTo="logfile" />
	</rules>
</nlog>