<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--该无需本地部署服务器, 连接测试服务器访问数据-->
		<add key="serverAddress" value="http://119.29.131.192:6868/"/>
		<!--该地址需要本地部署服务器,连接至本地服务器地址访问数据
		  注: 该端口默认项目的启动端口, 如果需要修改, 在API的启动配置当中修改-->
		<!--<add key="serverAddress" value="https://localhost:44399/"/>-->
	</appSettings>
</configuration>